<!DOCTYPE html>
<html>
<head>

	<title>Clients</title>
	{% if makeClient == true: %}
		<h2>Client Creation succeful</h2>
	{% else: %}
		<h2>Client Creation Failed! Must type in a first and last name or organization name!</h2>
	{% endif %}
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet1.css') }}">

	<style type="text/css">
		ul { 
			list-style-type: none;
		} 
	</style>

</head>
<body>
 	
		<form method="GET" action="/clients/">
			<button id="connectButton" type="submit">Go Back</button>
		</form>

</body>
</html>
